<?xml version="1.0"?>
<configuration>
  
  <connectionStrings>
      <add name="MonsantoConStr" connectionString="Data Source=WIN-HQ978Q8GJ0J;Initial Catalog=Testing;User Id=sa;Password=advanced;"/>

    
  </connectionStrings>
  
  <system.web>
    <authentication mode="Windows"/>
    <authorization>
      <deny users="?"/>
    </authorization>
    <compilation debug="true"/>
  </system.web>
</configuration>
